<h1>My Orders</h1>

<table>
  <tr>
    <th>Order Number</th>
    <th>Ordered On</th>
    <th>Last Updated</th>
    <th>Status</th>
    <th>Number of Items</th>
    <th>Total Cost</th>
  </tr>
  <% @orders.each do |order| %>
    <section id = "user-orders-<%=order.id%>">
      <tr>
        <td><p><%=link_to order.id, "/orders/#{order.id}" %> </p></td>
        <td><p><%= order.created_at %> </p></td>
        <td><p><%= order.updated_at %> </p></td>
        <td><p><%= order.status %> </p></td>
        <td><p><%= order.count_of_items %> </p></td>
        <td><p><%= order.grandtotal %> </p></td>
      </tr>
    </section>
  <% end %>
</table>
