<h1 align = "center">Order Info</h1>

<table>
  <tr>
    <th>Order Number</th>
    <th>Ordered On</th>
    <th>Last Updated</th>
    <th>Status</th>
  </tr>
    <section id = "user-orders-<%=@order.id%>">
      <tr>
        <td><p><%= @order.id %> </p></td>
        <td><p><%= @order.created_at %> </p></td>
        <td><p><%= @order.updated_at %> </p></td>
        <td><p><%= @order.status %> </p></td>
      </tr>
    </section>
</table>

  <table>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Subtotal</th>
    </tr>
  <% @order.item_orders.each do |item_order|%>
    <tr>
      <section id = "item-<%=item_order.item_id%>">
        <td><img src= <%= item_order.item.image %>><p><%=link_to item_order.item.name, "/items/#{item_order.item_id}"%></p></td>
        <td><p><%= item_order.item.description%></p></td>
        <td><p><%= number_to_currency(item_order.price)%></p></td>
        <td><p><%= item_order.quantity%></p></td>
        <td><p><%= number_to_currency(item_order.subtotal)%></p></td>
      </section>
    </tr>
  <% end %>
</table>

<section id="count-of-item">
  <p>Number of Items: <%= @order.count_of_items%></p>
</section>
<section id="grandtotal">
  <p>Total: <%=number_to_currency(@order.grandtotal)%></p>
</section>
